@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab',sans-serif;
    overflow-x: clip;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: #9DB0BE;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.header a img {
	border-radius: 10px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: white;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
    align-items: center;
    cursor: pointer;
}
#close {
    display: none;
}
.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* Footer */
.footer {
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 50px 0 20px;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 130px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 10px;
}
.app-logo img {
    width: 140px;
    border-radius: 5px;
}
/* media queries for 800px or less*/
@media (max-width: 1025px) {
    .header {
        padding: 10px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #42484cdf;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.4s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    #navbar li a {
        color: white;
    }
    #navbar i {
        display: none;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        font-size: 30px;
        padding-left: 5px;
        min-width: 60px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 24px;
    }
    #close i {
        display: flex;
    }
    .wrapper {
        position: relative;  
        margin: 20px auto;
        width: 90%;
        max-width: 400px;
        min-height: 70vh;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* media queries for 600px or less */
@media (max-width: 600px) {
    .header {
        padding: 10px 30px;
        min-width: 40px;
    }
    .header a img {
        width: 80px;
        height: 40px;
    }
    .row {
        text-align: center;
    } 
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    #navbar {
        background-color: #42484c;
        width: 245px;
    }
    #mobile i {
        font-size: 24px;
        min-width: 40px;
    }
    .container {
      max-width: 1300px;
      width: 100%;
    }
    .wrapper {
      width: 100%;
      margin: 0 auto;
    }
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: 0.18s ease;
  transform: translateX(0);
}
.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #9DB0BE;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box h2 {
  font-size: 2em;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: 0.3s;
}
.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label,
.input-box.has-value label {
  top: -8px;
  font-size: 13px;
  transform: translateY(0);
  color: #000;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}
.remember-forget {
  font-size: .9em;
  font-weight: 400;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forget label input {
  accent-color: black;
  margin-right: 3px;
}
.remember-forget a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.remember-forget a:hover {
  text-decoration: underline;
}
.btns {
  width: 100%;
  height: 45px;
  background: #9DB0BE;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  color: black;
  font-weight: 700;
  transition: 0.25s ease;
}
.btns:hover {
  box-shadow: 0 0 5px #2e3d48;
  background-color: #2e3d48;
  color: white;
  transform: scale(1.05)
}
.btns:active {
  transform: scale(1.13)
}
.login-register {
  font-size: .9em;
  color:#000;
  text-align: center;
  font-weight: 400;
  margin: 25px 0 10px;
}
.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.login-register p a:hover {
  text-decoration: underline;
}


